@import "_helpers/_all"

// +font-face("Montserrat", "Montserrat/Montserrat-Light", 300)

body
	min-width: 320px
	position: relative
	font-family: sans-serif
	overflow-x: hidden

.container
	max-width: $container-width +px
	margin: 0 auto
	position: relative
	+r($container-width)
		margin: 0 20px
	h1
		font-size: 300px
		color: pink
		padding: 100px

@import "_blocks/_all"
